.mainSection {
  color: #ffff;
  background-image: url("../../assets/image53.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  filter: contrast(1.2) brightness(1.1);
  box-sizing: border-box;
  height: 100vh;
}

.mainSection > h1 {
  font-size: 3rem;
  font-weight: 900;
}

.mainDescription {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDescription p {
  font-size: 1.5rem;
  font-weight: 400;
}

.mainDescription a {
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ff8c38;
  font-weight: 600;
  font-size: 1.2rem;
  width: 40%;
  color: #ffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mainDescription a:hover {
  background-color: #d3854e;
}
